/* table */
.ant-table {
    font-size: 16px;
}

/* row data */
.ant-table-tbody > tr > td{
    height: 10px;
    padding: 8px;
}
/* row tags */
.my-tag {
    font-size: 12px;
}
.ant-table-thead > tr > th {
    height: 10px;
    padding: 8px;
}
.ant-radio-checked .ant-radio-inner{
    border-color: red !important ;
}

.ant-radio-checked .ant-radio-inner:after{
    background-color: red;
}

.ant-radio:hover .ant-radio-inner {
    border-color: red ;
}
.ant-radio-checked .ant-radio-inner:focus{
    border-color: red;
}